.cartModifyBtnsWrapper {
  /* padding-top: 0.8rem; */
  border-top: 1px solid #0000000c;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.decrementBtn {
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}

.decrementBtn:focus {
  padding-bottom: 0;
  border: none;
}

.itemQty {
  font-weight: bold;
}

.incrementBtn {
  width: 20px;
  height: 20px;
  margin: 0 1rem;
}

.incrementBtn:focus {
  padding-bottom: 0;
  border: none;
}
