.image {
  width: 100%;
  flex-grow: 1;
}

.title {
  margin: 0.5rem 0.2rem;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.price {
  margin: 0.5rem;
  font-weight: bold;
}

.productCard {
  height: 350px;
  padding: 0.5rem;
  box-shadow: none;
  border: 1px solid #0000000e;
  border-radius: 0;
  max-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.wishListBtn {
  background-color: #ffffffe0;
}

.wishListBtn button {
    position: absolute;
    border-radius: 50%;
    right: 0.5rem;
    top: 0.5rem;
    border: none;
}

@media screen and (max-width: 720px) {
  .productCard {
    height: 260px;
    padding: 0.3rem;
    box-shadow: none;
    border: 1px solid #0000000e;
    border-radius: 0;
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .wishListBtn {
    background-color: #ffffffe0;
  }
}
