@media screen and (min-width: 721px) {
  .homeWrapper {
    width: 100%;
    margin-left: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    grid-gap: 1rem;
    background-color: var(--color-2);
  }

  .optionsWrapper {
    align-self: flex-start;
    margin: 1rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .productWrapper {
    display: grid;
    grid-template-columns: 300px auto;
  }
}

@media screen and (max-width: 720px) {
  .productWrapper {
    position: static;
    display: block;
  }

  .homeWrapper {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    place-items: center;
    background-color: var(--color-2);
  }
  .optionsWrapper {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    place-items: center;
    position: static;
  }
}
