.title {
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
  margin: auto;
}

.wishListEmptyPrompt {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #808080;
}

@media screen and (min-width: 721px) {
  .homeWrapper {
    max-width: 1000px;
    width: 100%;
    height: 95%;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    background-color: var(--color-2);
  }
}

@media screen and (max-width: 720px) {
  .homeWrapper {
    max-width: 800px;
    height: 95%;
    margin: auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    background-color: var(--color-2);
  }
}
