.navigation {
  display: flex;
  background-color: var(--color-1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 2;
}

.logoIconWrapper {
  margin-left: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.btns {
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.btns > button {
  margin: 0 1rem;
}

.navigationBelow {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--color-1);
  color: white;
}

.navigationBelow > button {
  color: white;
}

.searchButtonWrapper {
  width: 35px;
  height: 35px;
}
