.App {
  height: calc(100vh - 4.5rem);
}

button:disabled {
  background-color: var(--color-7);
  cursor: not-allowed;
}

.navbar-h {
  height: 4.5rem;
}

.top-margin {
  margin-top: 4.5rem;
}

.right-margin {
  margin-right: 4rem;
}

.p-t-8 {
  padding-top: 2rem;
}

.badge {
  right: -0.4rem;
}

.max-width-md {
  max-width: 80rem;
}

.p-t-8 {
  padding-top: 2rem;
}

.m-t-8 {
  margin-top: 2rem;
}

.p-b-1 {
  padding-bottom: 0.25rem;
}

.p-b-2 {
  padding-bottom: 0.5rem;
}

.p-b-3 {
  padding-bottom: 0.75rem;
}

.font-big {
  font-size: 6rem;
}

.height-sm {
  height: 1rem;
}

.icon:disabled {
  background-color: inherit;
}

.blur {
  filter: opacity(20%);
}

.hov:hover img {
  filter: opacity(80%);
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.list-grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  text-align: center;
}

.product-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-name-h {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product-name-h-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-list {
  display: grid;
  background-color: var(--color-2);
}
.product-card {
  background-color: white;
}

.product-img-wrapper {
  height: 100%;
  border-right: 1px solid var(--color-7);
}

@media screen and (min-width: 721px) {
  .product-list {
    margin-top: 4rem;
    width: 100%;
    margin-left: auto;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    grid-gap: 1rem;
  }

  .option-box {
    align-self: flex-start;
    margin: 1rem 0;
    display: grid;
    grid-template-rows: 1fr 1.2fr;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .option-box-mobile {
    display: none;
  }

  .productWrapper {
    display: grid;
    grid-template-columns: 18.75rem auto;
    height: 100vh;
  }

  .product-card {
    max-width: 18rem;
    height: 26rem;
  }

  .product-card-h {
    width: 28rem;
    max-height: 14rem;
  }

  .checkout {
    position: sticky;
    top: 8rem;
    margin-left: 3rem;
    padding-left: 2rem;
    border-left: 1px solid var(--color-7);
    height: 75vh;
  }

  .product-detail-wrapper {
    max-width: 80rem;
  }

  .product-img-wrapper {
    min-width: 40rem;
  }
  .product-description {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 720px) {
  .productWrapper {
    position: static;
    display: block;
  }

  .product-list {
    max-width: 50rem;
    margin: auto;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0.2rem;
    place-items: center;
  }
  .option-box {
    display: none;
  }

  .option-box-mobile {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-card {
    max-width: 15.625rem;
    height: 20rem;
    cursor: default;
  }

  .product-card-h {
    margin-bottom: 0.5rem;
  }

  .checkout {
    position: static;
    margin: 0.5rem;
    padding: 0;
  }

  .checkout > div {
    width: auto;
  }

  .product-detail-wrapper {
    margin-top: 4.5rem;
    flex-direction: column;
  }

  .product-img-wrapper {
    padding-top: 8rem;
  }

  .product-description {
    padding-top: 2rem;
  }

  .prompt-mobile {
    margin-top: 8rem;
    font-size: 1.2rem;
  }

  .cart-mobile {
    flex-direction: column;
  }
}
